<?xml version="1.0" encoding="UTF-8"?>
<project>
    <target name="checkstyle" extensionOf="-test-static:main~hook">
        <exec executable="${bindir}/phpcs" failonerror="${test-static-checkstyle.fail-on-violation}" dir="${basedir}">
            <arg value="--standard=${coding.standard}" />
            <arg value="--report=full" />
            <arg value="--report-checkstyle=${logdir}/checkstyle-result.xml" />
            <arg value="${srcdir}" />
        </exec>
    </target>
</project>
