<?xml version="1.0" encoding="UTF-8"?>
<project>
    <property name="coding.standard" value="PSR2" />

    <target name="checkstyle" extensionOf="-test-static:main~hook">
        <php-tool-installed executable="phpcs" package="squizlabs/php_codesniffer" />

        <exec executable="${bindir}/phpcs" failonerror="${test-static-checkstyle.fail-on-violation}" dir="${basedir}">
            <arg value="--extensions=php" />
            <arg value="--standard=${coding.standard}" />
            <arg value="--report=full" />
            <arg value="--report-checkstyle=${logdir}/checkstyle-result.xml" />
            <arg value="--extensions=php" />
            <arg value="${srcdir}" />
        </exec>
    </target>
</project>
