<?xml version="1.0" encoding="UTF-8"?>
<project>
    <!--
         Test-Unit: Run PHPUnit tests, if phpunit.xml is available in the project root.
    -->
    <target name="-phpunit:check">
        <available file="${basedir}/phpunit.xml" property="-phpunit:active"/>
    </target>

    <target name="phpunit" extensionOf="-test-unit:main~hook" depends="-phpunit:check" if="-phpunit:active">
        <php-tool-installed executable="phpunit" package="phpunit/phpunit" />

        <exec executable="${bindir}/phpunit" failonerror="${test-unit.fail-on-violation}" dir="${basedir}">
            <arg value="--configuration" />
            <arg value="${basedir}/phpunit.xml" />
            <arg value="--log-junit" />
            <arg value="${logdir}/junit.xml" />
        </exec>
    </target>

    <target name="-phpunit:coverage" extensionOf="-test-static:main~hook" depends="-phpunit:check" if="-phpunit:active">
        <php-tool-installed executable="phpunit" package="phpunit/phpunit" />

        <exec executable="${bindir}/phpunit" failonerror="${test-unit.fail-on-violation}" dir="${basedir}">
            <arg value="--configuration" />
            <arg value="${basedir}/phpunit.xml" />
            <arg value="--coverage-clover" />
            <arg value="${logdir}/clover.xml" />
            <arg value="--coverage-html" />
            <arg value="${builddir}/coverage" />
            <arg value="--coverage-text" />
        </exec>
    </target>
</project>
